body{
    background-color: rgb(10, 85, 85);
    color: white;
}

h1{
    font-family: verdana;
    font-size: 24pt;
    text-align: center;
}

h2, h3{
    font-family:'Gill Sans';
    font-size: 18pt;
    color: yellow;
}

p{
    line-height: 1.6;
}

img{
    border: solid 5px white;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li{
    display: inline-block;
    margin-left: 50px;
}
